/*********************************
 * Value Setting
**********************************/

:root {
  --theme-color: #222;
  --hover-theme-color: #444;
  --active-theme-color: #666;
  --icon-color: #ddd;
  --icon-hover: #FFF;
  --icon-active: #fff;
}

/*********************************
 * Wrapper
**********************************/

.wrapper {
  width: 100vw;
  max-width: 900px;
  margin: 0 auto;
  text-align:center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 25px 0;
}

/*********************************
 * Header
**********************************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--theme-color);
  color: var(--icon-color);
}

.headerContent {
  padding: 10px 0;
}

/*********************************
 * Navigation
**********************************/

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: var(--theme-color);
}

.navIcon {
  margin: -5px 30px 5px 30px;
}

.navIcon > a {
  color: var(--icon-color);
}

.navIcon > a:hover {
  color: var(--icon-hover);
}

.ui.input {
  display: inline-block;
  width: 80%;
  padding: 10px;
  border-color: #222;
}

.ui.input>input:focus {
  border-color: var(--theme-color)!important;
}

.center {
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.fixHeight {
  height: calc(100vh - 55px);
}

.ui.button {
  display: block !important;
  background-color: var(--theme-color) !important;
  color: var(--icon-color) !important;
  margin: 30px auto !important;
}

.ui.button:hover {
  background-color: var(--hover-theme-color) !important;
}

.ui.button:active {
  background-color: var(--active-theme-color) !important;
}
